.card.selected {
  border: 2px solid #ffc107;
  background-color: #343a40;
}
.form-section {
  max-width: 400px;
  margin: 0 auto;
}
.request-form-container {
  border: 2px solid #ffc107;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.request-item {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}
.request-item:hover {
  background-color: #e9ecef;
}
.request-item .item-name {
  color: #343a40;
  font-weight: bold;
}
#request-list {
  margin-top: 20px;
}
.details {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: 10px;
}
#showRequestsBtn {
  padding: 15px 30px;
  font-size: 20px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}


.progress-bar {
  border: 1px solid black;
  height: 20px;
  /* margin: 300px; */
  width: 100%;
  border-radius: 10px;

}
.fill-progress-bar {
  /* border: 3px solid green; */
  /* width: 10%; */
  height: 20px;
  border-radius: 10px;
  background-color: green;
}