input[name="path"]:checked ~ label, input[name="item"]:checked ~ label {
    border: 3px solid yellow;
    opacity: 80%;
}
.order-item {
    margin: auto;
    /* border: 3px solid red; */
    height: 600px;
}
.item-to-select {
    /*border: 1px solid red;*/
    width: 15rem;
    height: 7rem;
    /*3px solid red;*/
}
.card-body {
    /*margin-top: -15px;*/
}
.order-title {
    margin: auto;
    width: 50%;
    text-align: center;
}
.path-element {
    /*border: 1px solid red;*/
    width: 15rem;
    height: 7rem;
}
.send-request:hover {
    background-color: gray;
}
.delivery-title {
    margin: auto;
    width: 15rem;
    text-align: center;
}
.delivery {
    min-height: 390px;
    height: 390px;
    max-height: 390px;
}

.car-moving {
    width: 200px;
    /* bottom: 0%; */
    margin-top: 35px;
    margin-left: -73%;
    height: auto;
    position: absolute;
    z-index: 1000;
}
.no-delivery-in-progress {
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid gray;
    padding: 10px;
}
.confirm-delivery {
    right: 5%;
}
.delivery {
    text-align: center;
}
.pending-irs{
    position: absolute;
    width: 100%;
}
.process {
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    font-size: 44px !important;
    margin-bottom: 20px;
    background-color: green;
}
.confirm-delivery {
    border: 1px solid black;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px !important;
    position: relative;
}
.confirm-delivery:hover {
    box-shadow: none;
}
@media (max-width: 1150px){
    .item-to-select h5 .card-title {
        font-size: 24px !important;
    }
}
@media (max-width: 1000px) {
    .order-item {
        height: 730px;
    }
    .pending-irs{
        position: relative;
        width: 100%;
    }
}
@media (max-width: 780px) {
    .order-item {
        height: 1000px;
    }
}
@media (max-width: 580px) {
    .order-item {
        height: 1550px;
    }
}



/* warehouse PAGE */
.irs-container {
    /* border: 3px solid red; */
    height: 10%;
    
} 
.send-d {
    margin-top: 30px !important;
    margin-bottom: 5vh; 
    font-size: 20px !important; 
    padding: 15px 35px !important;
}