<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delivery Table</title>
</head>
<body>


<h1>Delivery Table</h1>
<table border="1">
  <thead>
  <tr>
    <th>Delivery ID</th>
    <th>Obstacle Time</th>
    <th>Distance</th>
<!--    <th>Number Of Obstacles</th>-->
<!--    <th>Drop Point Name</th>-->
<!--    <th>Delivery Status</th>-->
  </tr>
  </thead>
  <tbody style="overflow-y: scroll; height: 50vh;" >
  <tr th:each="delivery : ${deliveries}">
    <td th:text="${delivery.get(0)}">Delivery ID</td>
    <td th:text="${delivery.get(1)}">Employee ID</td>
    <td th:text="${delivery.get(2)}">Delivery Time</td>
  </tr>
  </tbody>
</table>

<!--<a href="/addDeliveryForm">Add New Delivery</a>-->

</body>
</html>