<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delivery Table</title>
</head>
<body>


<h1>Delivery Table</h1>
<table border="1">
  <thead>
  <tr>
    <th>Delivery ID</th>
    <th>Delivery Time</th>
<!--    <th>Number Of Obstacles</th>-->
<!--    <th>Drop Point Name</th>-->
<!--    <th>Delivery Status</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="delivery : ${deliveries}">
    <td th:text="${delivery.deliveryId}"></td>
    <td th:text="${delivery.deliveryTime}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>