<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistics Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Load Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

  <style>
    .graph-card {
      text-align: center;
    }
    .section-title {
      text-align: center;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>

  <body>
  <nav th:replace="fragments/fragments :: navbar"></nav>
  <h1>Delivery Statistics Dashboard</h1>

  <!-- Descriptive Data Section -->
  <div class="section-title">Descriptive Data</div>
  <div class="container">

    <div class="graph-card">
      <h2>Most Frequent Path</h2>
      <canvas id="graph1"></canvas>
    </div>

    <div class="graph-card">
      <h2>Time Taken Per Delivery</h2>
      <canvas id="graph2"></canvas>
    </div>

    <div class="graph-card">
      <h2>Number of Obstacles Per Path</h2>
      <canvas id="graph3"></canvas>
    </div>

    <div class="graph-card">
      <h2>Most Requested Item</h2>
      <canvas id="graph4"></canvas>
    </div>

    <div class="graph-card">
      <h2>Number of Requests Per Month</h2>
      <canvas id="graph5"></canvas>
    </div>
  </div>



  <!-- Explorative Data Section -->
  <div class="section-title">Explorative Data</div>
  <div class="container">
    <div class="graph-card">
      <h2>Item Popularity Trends</h2>
      <canvas id="graph6"></canvas>
    </div>
  </div>


  <!-- Predictive Data Section -->
  <div class="section-title">Predictive Data</div>
  <div class="container">
    <div class="graph-card">
      <h2>Delivery Time Estimates</h2>
      <canvas id="graph7"></canvas>
    </div>
  </div>
  <footer th:replace="fragments/fragments :: footer"></footer>
  </body>
</html>
