<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet"  th:href="@{/static/css/style.css}" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <title>Warehouse</title>
    <style>
        /* Custom styles to center the button and make it bigger */
        .sticky-bottom {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10; /* To ensure it is above other content */
        }

        .btn-custom {
            font-size: 1.9rem; /* Makes the button text bigger */
            padding: 10px 100px; /* Increase padding for a bigger button */
        }
        .processingStatus {
            background-color: orange;
            color: black;
        }
        .completedStatus {
            background-color: green;
            color: white;;
        }
    </style>
</head>
<body class="bg-black text-white">

<div th:replace="fragments/fragments :: navbar"></div>

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-start">
                <!-- Table Section -->
                <div class="flex-grow-1">
                    <h1>Requested Items</h1>
                    <form method="post" style="text-align: center">
                        <table class="table table-dark table-striped">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Item</th>
                                <th>Drop Point</th>
                                <th>Time Requested</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="itemRequest : ${itemRequests}">
                                    <td>
                                        <label for="selectedItemRequest">
                                            <input th:value="${itemRequest.getId()}" type="radio" id="selectedItemRequest" name="selectedItemRequest" class="form-check-input" required>
                                        </label>
                                    </td>
                                    <td th:text="${itemRequest.getItem()}">Item Name</td>
                                    <td th:text="${itemRequest.getPath()}">Path</td>
                                    <td th:text="${itemRequest.getRequestTime()}">Time</td>
                                </tr>
                                <tr th:if="${itemRequests.size() == 0}" style="column-span: all">No Item Requests</tr>
                            </tbody>
                        </table>

                        <button type="submit" style="margin-bottom: 5vh; font-size: 20px; padding: 15px 35px" class="btn btn-warning btn-custom">Send Delivery</button>
                    </form>
                </div>

        </div>

        <h1 th:if="${deliveryLOG.size() != 0}" >Delivery Process LOG</h1>
        <div th:if="${deliveryLOG.size() != 0}" style="height: auto; border: 1px solid white; margin-bottom: 35px; padding: 20px;">
            <p th:each="message, index : ${deliveryLOG}" th:text="${index.index} + '. ' + ${message}">1. Delivery Message</p>
        </div>

        <h1>Deliveries</h1>
        <div style="border: 0px solid white; width:100%; ">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>Delivery</th>
                    <th>Item Request ID</th>
                    <th>Drop Point</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="delivery : ${deliveries}">
                    <td th:text="${delivery.getDeliveryId()}">ID</td>
                    <td th:text="${delivery.getItemRequest().getId()}">Item Request ID</td>
                    <td th:text="${delivery.getItemRequest().getPath()}">Path</td>
                    <td><span th:class="${delivery.getStatus().toString().equalsIgnoreCase('PROCESSING')} ? 'processingStatus' : 'completedStatus'" style="text-align: center; border-radius: 20px; padding: 10px 20px;" th:text="${delivery.getStatus()}">Status</span></td>
<!--                    <td><span th:if="${delivery.getStatus().toString().equalsIgnoreCase('COMPLETED')}" style="text-align: center; border-radius: 20px; padding: 10px 20px; background-color: green; color: white;" th:text="${delivery.getStatus()}">Status</span></td>-->
                </tr>
                </tbody>
            </table>
        </div>

    <!-- Centered and sticky button -->
<!--    <span class="sticky-bottom">-->
<!--<button type="submit" class="btn btn-warning btn-custom">Send Robot</button>-->
<!--</span>-->

    <!-- Delivery Status Section -->
<!--    <div class="container my-4">-->
<!--        <div class="alert"role="alert">-->
<!--            <h4 class="alert-heading" th:text="'Congratulations, Delivery Completed! - Delivery In Progress'"></h4>-->
<!--            <p>-->
<!--                <strong>Items:</strong> <span ></span><br>-->
<!--                <strong>Path:</strong> <span ></span><br>-->
<!--                <strong>Start Time:</strong> <span ></span><br>-->
<!--                <strong>Estimated Time:</strong> <span></span> seconds-->
<!--            </p>-->
<!--            <div class="progress">-->
<!--                <div class="progress-bar progress-bar-striped"-->
<!--                     role="progressbar"-->

<!--                      aria-valuemin="0" aria-valuemax="100">-->
<!--                    <span></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--     Congratulations Message -->
<!--    <div class="alert alert-success">-->
<!--        <strong>Congratulations!</strong> Your delivery has been completed successfully!-->
<!--    </div>-->
    </div>

<script>
    const socket = new SockJS('/ws');  // Connect to WebSocket
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected to WebSocket:', frame);
        stompClient.subscribe('/topic/warehouse-updates', function (message) {
            console.log('Message received:', message.body);
            location.reload();  // Reload the page on receiving message
        });
    });

</script>


    <footer class="fixed-bottom" th:replace="fragments/fragments :: footer"></footer>
</body>
</html>